<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<RuntimeDatabaseConfiguration>
	<Username encrypted="false">[username]</Username>
	<Schema encrypted="false">[schemaname]</Schema>
	<Password encrypted="false">[password]</Password>
	<ConnectionString encrypted="false">Database=[dbname]; Server=[servername]:[port]; Password=[password];User ID=[username];</ConnectionString>
</RuntimeDatabaseConfiguration>